{{#chat-mentions handleMentionedUser=(action 'handleMentionedUser')}}
    {{textarea id="textarea" class="textarea" value=message}}
{{/chat-mentions}}
{{#if showEmojiPicker}}
    {{emoji-picker selectEmoji=(action "selectEmoji")}}
    <div class="arrow-down"></div>
{{/if}}
<button class="emoji textarea-button" {{action "togglePicker"}}>
    {{material-icon "sentiment_satisfied_alt"}}
</button>
<button class="file textarea-button">
    {{material-icon "attachment"}}
</button>
<div class="preview-container"></div>
