{{interaction-header
    activePanel=activePanel
    occupants=model.occupants
    togglePanel=(action "togglePanel")
}}
<div class="room-container">
    <div class="conversation">
        {{interaction-pane
            activeInteraction=model
        }}
        {{interaction-textarea
            roomJid=model.jid
            sendMessage=(action "sendMessage")
            sendMessageAfterFileUpload=(action "sendMessageAfterFileUpload")
        }}
    </div>
    <div class="panel-outlet">
        {{#if showSearchPanel}}
            {{history-panel
                roomJid=model.jid
            }}
        {{/if}}
        {{#if showParticipantPanel}}
            {{participant-panel
                occupants=model.occupants
                onSelection=(action "onSelection")
            }}
        {{/if}}
    </div>
</div>