{{#if showPresencePicker}}
    <div class="presence-picker">
        {{#each presences as |presence|}}
            {{presence-selector/presence-list-item
                presence=presence
                setPresence=(action "setPresence")
            }}
        {{/each}}
    </div>
{{/if}}
<div class="presence-footer presence-status {{presenceClass}}">
    <img class="profile-image" src="{{profileImageUrl}}" height="35" width="35">
    <button class="presence-button" onclick={{action "togglePicker"}}>
        <span class="status">{{presenceLabel}}</span>
        <i class="fa fa-sort arrow-icon "></i>
    </button>
</div>