<div class="header-left">
    <!-- Will eventually hold icons for phone, video and screenshare -->
</div>
<div class="header-right">
    <button class="header-icon {{if (eq activePanel "participant") "active"}}" {{action togglePanel "participant"}}>
        {{material-icon "person_add"}}
        <span class="participant-count">{{participantCount}}</span>
    </button>
    <button class="header-icon {{if (eq activePanel "search") "active"}}" {{action togglePanel "search"}}>
        {{material-icon "search"}}
    </button>
    <button class="header-icon">
        {{material-icon "more_vert"}}
    </button>
</div>