<div class="details">
    <div class="name">{{name}}</div>
    <div class="timestamp">{{time}}</div>
</div>
<div class="container">
    {{#unless sentByMe}}
        <img class="profile-image" src="{{profileImageUrl}}" height="30" width="30">
    {{/unless}}

    {{#if sentByMe}}
        <div class="triangle-right"></div>
    {{else}}
        <div class="triangle-left"></div>
    {{/if}}

    <div class="message">
        <div class="body">
            {{{markdown}}}
        </div>
        {{#if hasMediaItems}}
            {{media-item links=links}}
        {{/if}}
    </div>
</div>